<!DOCTYPE html>
<html>
  <head>
    <title>Turnip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>
  </head>

  <body id="turnip-body">
    <%= render "layouts/sidebar" %>
    <div id="turnip-main">
      <%= render "layouts/messages" %>
      <div id='app'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
