<!DOCTYPE html>
<html>
  <head>
    <title>Turnip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>
  </head>

  <body class="container">
    <%= render "layouts/header" %>
    <%= render "layouts/messages" %>
    <!-- <div id='hello'>
      {{message}}
       <app></app>
    </div> -->
    <div id='app'>
      <%= yield %>
    </div>
  </body>
</html>
